<div class="comments">
    {% assign comments = site.data.comments[page.slug] | sort %}

    {% for comment_hash in comments reversed %}
    {% assign comment = comment_hash[1]  %}

    <article class="comment">
        <div class="name">
            {{ comment.name }}
        </div>
        <div class="date">
            {{ comment.date }}
        </div>

        <div class="message">
            <p> {{ comment.message | markdownify }}</p>
        </div>
    </article>
    {% endfor %}
</div>

<div id="respond">
    <h2 class="page__section-label">Leave a Comment </h2>

    <form id="comment-form" class="page__form js-form form" method="post" action="https://api.staticman.net/v2/entry/{{ site.github_username }}/{{ site.repository }}/{{ site.staticman.branch }}/comments">
        <fieldset>
            <label for="comment-form-message"><strong>Comment</strong> <small>(<a href="https://kramdown.gettalong.org/quickref.html">Markdown</a> is allowed)</small></label>
            <textarea type="text" rows="6" id="comment-form-message" name="fields[message]" required spellcheck="true"></textarea>
        </fieldset>
        <fieldset>
            <label for="comment-form-name"><strong>Name</strong></label>
            <input type="text" id="comment-form-name" name="fields[name]" required spellcheck="false">
        </fieldset>
        <fieldset>
            <label for="comment-form-email"><strong>Email</strong> <small>(used for <a href="http://gravatar.com">Gravatar</a> image and reply notifications)</small></label>
            <input type="email" id="comment-form-email" name="fields[email]" required spellcheck="false">
        </fieldset>
        <fieldset class="hidden" style="display: none;">
            <label for="comment-form-address">Leave blank if you are a human</label>
            <input type="text" id="comment-form-address" name="fields[address]" autocomplete="off">
        </fieldset>
        <!-- Start comment form alert messaging -->
        <p class="hidden js-notice">
            <span class="js-notice-text"></span>
        </p>
        <!-- End comment form alert messaging -->
        <fieldset>
            <button type="submit" id="comment-form-submit" class="btn btn--large">Submit Comment</button>
        </fieldset>
    </form>
</div>
