<div class="comments">
    {% assign comments = site.data.comments[page.slug] | sort %}

    {% for comment_hash in comments reversed %}
    {% assign comment = comment_hash[1]  %}

    <article class="comment">
        <div class="name">
            {{ comment.name }}
        </div>
        <div class="date">
            {{ comment.date | date_to_long_string }}
        </div>

        <div class="message">
            <p> {{ comment.message | markdownify }}</p>
        </div>
    </article>
    {% endfor %}
</div>

