---
---
@import  "{{ site.theme }}";

table.data-block {
	margin-top: 2px;
	margin-bottom: 20px;
	width: 100%;
}

.data-block th, .data-block tr {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

.data-block th {
    font-size: 1.3em;

}

.phone-image img {
	width: 320px;
	margin-left: 40px;
}

.post-content h5 { font-size: 18px; }

pre, code {  background-color: #f8f8f8; }
.highlighter-rouge .highlight { background: #f8f8f8; }
