---
---
@import  "{{ site.theme }}";
@import  "{{ site.url }}/assets/modal.css";

table.data-block {
	margin-top: 2px;
	margin-bottom: 20px;
	width: 100%;
}

.data-block th, .data-block tr {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

.data-block th {
    font-size: 1.3em;

}

.phone-image img {
	width: 320px;
	margin-left: 40px;
}

.post-content h5 { font-size: 18px; }

pre, code {  background-color: #f8f8f8; }
.highlighter-rouge .highlight { background: #f8f8f8; }

code { font-family: 'Source Code Pro'; }


.highlight .k { color: #620075; font-weight: normal } /* Keyword */
.highlight .kd { color: #620075; font-weight: normal } /* Keyword.Declaration */
.highlight .kt { color: #134a9e; font-weight: normal } /* Keyword.Type */
.highlight .n { color: #0000ff; font-weight: normal } /* Name */
.highlight .nv { color: #0000ff; font-weight: normal } /* Name.Variable */
.highlight .nf { color: #0000ff; font-weight: normal } /* Name.Function */
.highlight .n { color: #000000; font-weight: normal } /* Name */
.highlight .s { color: #980010; font-weight: normal } /* String */
.highlight .o { color: #8b1b21;  font-weight: normal } /* Operator */
.highlight .p { color: #000000;  font-weight: normal } /* Punctuation */
.highlight .c1 { color: #984203; font-style: italic; } /* Comment.Single */
.highlight .kc { color: #42349f; font-weight: normal } /* Keyword.Constant */

.comment {
  	.name {
	  font-size: 24px;
	  margin-bottom: 6px;
	}
	.date {
	  font-size: 14px;
	  margin-bottom: 10px;
	}
	.message {
		font-size: 16px;
	  	margin-bottom: 12px;

	}

}

fieldset {
	border-width:0;
}



#comment-form {
	display: block;

	fieldset {
		padding-left: 0;
		padding-right: 0;
	}
	#comment-form-message {
		width: 100%;
	}
	#comment-form-name {
		margin: 12px 0px;
		width: 100%;
	}
	#comment-form-email {
		margin: 12px 0px;
		width: 100%;
	}

	#comment-form-submit {
		margin:1em 0;

		display: inline-block;
		padding: .5em 1em;
		border:0;
		border-radius: .25em;

		background-color: #000000;
		color: #fff;

		line-height: 1.5;
		text-align: center;

		font-weight: 700;
		text-decoration: none;
		text-transform: none;
	}


}
